@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #1a1b26;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.smooth {
    transition: scale 0.5s ease-in-out;
}

.smooth:hover {
    scale: 1.1;
}